<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content">
    <h1 th:text="#{question.title}"></h1>

    <form th:action="@{/questionario/analisar}" th:object="${questionario}" method="post">

        <label th:text="#{question.anxiety}"></label><br>
        <input type="number" th:field="*{ansiedade}" min="0" max="10"><br><br>

        <label th:text="#{question.sleep}"></label><br>
        <input type="number" th:field="*{horasSono}" min="0" max="24"><br><br>

        <label th:text="#{question.stress}"></label><br>
        <input type="number" th:field="*{estresse}" min="0" max="10"><br><br>

        <label th:text="#{question.overload}"></label><br>
        <input type="number" th:field="*{sobrecarga}" min="0" max="10"><br><br>

        <button type="submit" th:text="#{form.submit}"></button>
    </form>

    <br>
    <a class="button-link" th:href="@{/}" th:text="#{nav.home}"></a>
</div>

</body>
</html>
