<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content">

  <h1 th:text="#{app.title}"></h1>

  <p>
    Este sistema ajuda você a acompanhar seu estado emocional, analisando seu humor, estresse, ansiedade e sono.
  </p>

  <h2>Escolha uma opção:</h2>

  <ul>
    <li><a class="button-link" th:href="@{/questionario}" th:text="#{question.title}"></a></li>
    <br>
    <li><a class="button-link" th:href="@{/auth/login}" th:text="#{nav.login}"></a></li>
  </ul>

</div>

</body>
</html>
