<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Questionário de Humor</title>
</head>
<body>
<h1>Questionário de Humor Diário</h1>

<form th:action="@{/questionario/analisar}" th:object="${questionario}" method="post">

    Ansiedade (0-10): <input type="number" th:field="*{ansiedade}" min="0" max="10"><br><br>

    Horas de sono: <input type="number" th:field="*{horasSono}" min="0" max="24"><br><br>

    Estresse (0-10): <input type="number" th:field="*{estresse}" min="0" max="10"><br><br>

    Sobrecarga (0-10): <input type="number" th:field="*{sobrecarga}" min="0" max="10"><br><br>

    <button type="submit">Enviar</button>

</form>

<br>
<a href="/chat">Ir para chat de apoio</a>
<br>
<a href="/">Voltar à Home</a>

</body>
</html>
