<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Cadastro</title></head>
<body>

<h1>Cadastro</h1>

<form th:action="@{/auth/register}" th:object="${user}" method="post">

  Nome: <input type="text" th:field="*{nome}"><br><br>
  Email: <input type="email" th:field="*{email}"><br><br>
  Senha: <input type="password" th:field="*{senha}"><br><br>

  <button type="submit">Cadastrar</button>
</form>

<p th:if="${erro}" th:text="${erro}" style="color:red"></p>

<br>
<a href="/auth/login">Voltar ao Login</a>

</body>
</html>
